openapi: 3.0.1
info:
  title: GLIMS/gSIT APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/gsit-eihip/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/gsit-eihip/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/gsit-eihip/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /suppliertransaction:
    post:
      summary: Supplier Trasnaction
      description: Post Supplier Transaction Data to gSIT / GLIMS DB
      tags: 
      - Supplier Transaction
      requestBody:
        description: Supplier Transaction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierTransactionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierTransactionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '400':
          description: Bad data
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: Logical Id missing or not SUPPLIERTRANSACTION
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
        '500':
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternal'
  /component:
    get:
      summary: Component Details
      description: Extract Component Details
      tags: 
      - Component
      parameters:
      - name: componentId
        in: query
        description: Component Id
        required: true
        schema:
          type: string
          example: 10608533
      - name: validationComponentType
        in: query
        description: Validation Component Type
        required: true
        schema:
          type: string
          example: SP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentDetailsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 401
                      message:
                        type: string
                        example: Invalid Authorization key for resource
        '400':
          description: Bad data
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: 400
                      message:
                        type: string
                        example: "Invalid Component Id or Transaction Id or Validation Component Id"
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    SupplierTransactionRequest:
     type: object
     description: Supplier Transaction Request object
     properties:
        sender:
          type: object
          description: sender Request object
          properties:
              trackingId:
                type: string
                example: 9999|6715965_SP|RCOSUPPLIERTRANSACTION|2021-10-27T16:40:00.657-05:00
              logicalId:
                type: string
                example: SUPPLIERTRANSACTION
              component:
                type: string
                example: SUPPLIERTRANSACTION
              task:
                type: string
                example: SUPPLIERTRANSACTION  
              referenceId:
                type: string
                example: 9999
              authorizationId:
                type: string
                example: 
        dataArea:
          type: object
          properties:
            componentId:
              type: string
              example: 10730802
            validationComponentTyp:
              type: string
              example: SP
            transactionTypeId:
              type: string
              example: 1
            transactionDate:
              type: string
              example: 10/27/2021 4:34:43 PM  
            supplierName:
              type: string
              example: RCO 
            supplierTransactionId:
              type: string
              example: 6715965
            supplierUserName:
              type: string
              example: Priestly, Todd
            currentLocationName:
              type: string
              example: RCO - Five Mile 
            destinationLocationName:
              type: string
              example: RCO - Five Mile
            shipperNbre:
              type: string
              example: 
            storageShelfLocationName:
              type: string
              example: X25951
    SupplierTransactionResponse:
     type: object
     title: SupplierTransactionResponse
     properties:
       code:
        type: string
        example: 200
       message:
        type: string
        example: OK
    ComponentDetailsResponse:
     type: object
     description: Component Details Request Body
     properties:
        sender:
          type: object
          properties:
            trackingId:
              type: string
              example: "9999|131825_SP|SITCOMPONENTDETAILS|2023-03-02T09:05:13"    
            logicalId:
              type: string
              example: COMPONENTDETAILS
            task:
              type: string
              example: SITCOMPONENTDETAILS
            referenceId:
              type: string
              example: 9999
            authorizationId:
              type: string
            mode:
              type: string
              example: T
              description: T for Test mode 
        dataArea:
          type: array
          items:
            type: object
            properties:
              componentId:
                type: string
                example: 10608533
              componentDesc:
                type: string
                example: "[01] 1st Row LH PWR Cloth, TG7 A3 Frame w/ T90A Trim"
              phaseName:
                type: string
                example: "1st Row I/E"
              projectNbr:
                type: string
                example: 12359TE0020202
              testEngineerNme:
                type: string
                example: Last Name, First Name
              phoneNbr:
                type: string
                example: 0
              dvpNbr:
                type: string
                example: 131825
              adientPlantName:
                type: string
                example: Adient - Plymouth
              oem:
                type: string
                example: Honda
              programName:
                type: string
                example: 2022 Honda T90A Seat
              validationComponentTyp:
                type: string
                example: SP
              fxType:
                type: string
                example: NA
              fxCheckInStatus:
                type: string
                example: NA
              fxCurrentLoc:
                type: string
                example: NA
              woc:
                type: array
                items:
                  type: object
                  properties:
                    workOrderId:
                      type: string
                      example: 10228135
                    testClassName:
                      type: string
                      example: Foam and Trim
                    testSubclassName:
                      type: string
                      example: Ingress/Egress
    ErrorInternal:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: 500
        message:
          type: string
          example: Error at target end     