openapi: 3.0.1
info:
  title: GLIMS/gSIT APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/gsit-eihip/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/gsit-eihip/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/gsit-eihip/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /suppliertransaction:
    post:
      summary: Supplier Trasnaction
      description: This API is for Supplier Trasnaction data update to gSIT / GLIMS and VMS DB
      requestBody:
        description: Supplier Transaction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierTransactionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierTransactionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '400':
          description: Bad data
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: Logical Id missing or not SUPPLIERTRANSACTION
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
        '500':
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternal'
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    SupplierTransactionRequest:
     type: object
     description: Supplier Transaction Request object
     properties:
        sender:
          type: object
          description: sender Request object
          properties:
              trackingId:
                type: string
                example: 9999|6715965_SP|RCOSUPPLIERTRANSACTION|2021-10-27T16:40:00.657-05:00
              logicalId:
                type: string
                example: SUPPLIERTRANSACTION
              referenceId:
                type: string
                example: 9999
              authorizationId:
                type: string
                example: 
        dataArea:
          type: object
          properties:
            componentId:
              type: string
              example: 10730802
            validationComponentTyp:
              type: string
              example: SP
            transactionTypeId:
              type: string
              example: 1
            transactionDate:
              type: string
              example: 10/27/2021 4:34:43 PM  
            supplierName:
              type: string
              example: RCO 
            supplierTransactionId:
              type: string
              example: 6715965
            supplierUserName:
              type: string
              example: Priestly, Todd
            currentLocationName:
              type: string
              example: RCO - Five Mile 
            destinationLocationName:
              type: string
              example: RCO - Five Mile
            shipperNbre:
              type: string
              example: 
            storageShelfLocationName:
              type: string
              example: X25951
    SupplierTransactionResponse:
     type: object
     title: SupplierTransactionResponse
     properties:
       code:
        type: string
        example: 200
       message:
        type: string
        example: OK
    ErrorInternal:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: 500
        message:
          type: string
          example: Error at target end
     
     