openapi: 3.0.1
info:
  title: GLIMS/gSIT APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/gsit-eihip/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/gsit-eihip/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/gsit-eihip/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /suppliertransaction:
    post:
      summary: Supplier Trasnaction
      description: Post Supplier Transaction Data to gSIT / GLIMS DB
      tags: 
      - Supplier Transaction
      requestBody:
        description: Supplier Transaction
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierTransactionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierTransactionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '400':
          description: Bad data
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: Logical Id missing or not SUPPLIERTRANSACTION
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
        '500':
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternal'
  /component:
    get:
      summary: Component Details
      description: Extract Component Details
      tags: 
      - Component
      parameters:
      - name: componentId
        in: query
        description: Component Id
        required: true
        schema:
          type: string
          example: 10730076
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentDetailsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '400':
          description: Bad data
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: Logical Id missing or not SUPPLIERTRANSACTION
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
        '500':
          description: Internal server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternal'                
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    SupplierTransactionRequest:
     type: object
     description: Supplier Transaction Request object
     properties:
        sender:
          type: object
          description: sender Request object
          properties:
              trackingId:
                type: string
                example: 9999|6715965_SP|RCOSUPPLIERTRANSACTION|2021-10-27T16:40:00.657-05:00
              logicalId:
                type: string
                example: SUPPLIERTRANSACTION
              referenceId:
                type: string
                example: 9999
              authorizationId:
                type: string
                example: 
        dataArea:
          type: object
          properties:
            componentId:
              type: string
              example: 10730802
            validationComponentTyp:
              type: string
              example: SP
            transactionTypeId:
              type: string
              example: 1
            transactionDate:
              type: string
              example: 10/27/2021 4:34:43 PM  
            supplierName:
              type: string
              example: RCO 
            supplierTransactionId:
              type: string
              example: 6715965
            supplierUserName:
              type: string
              example: Priestly, Todd
            currentLocationName:
              type: string
              example: RCO - Five Mile 
            destinationLocationName:
              type: string
              example: RCO - Five Mile
            shipperNbre:
              type: string
              example: 
            storageShelfLocationName:
              type: string
              example: X25951
    SupplierTransactionResponse:
     type: object
     title: SupplierTransactionResponse
     properties:
       code:
        type: string
        example: 200
       message:
        type: string
        example: OK
    ComponentDetailsResponse:
     type: object
     description: Component Details Request Body
     properties:
        COMPONENTDETAILS:
          type: object
          properties:
            APPLICATIONAREA:
              type: object
              properties:
                SENDER:
                  type: object
                  properties:
                    LOGICALID:
                      type: string
                      example: COMPONENTDETAILS
                    REFERENCEID:
                      type: string
                      example: 9999
                    AUTHORIZATIONID:
                      type: string
                    TRACKINGID:
                      type: string
                      example: "9999|14789067_SP|SITCOMPONENTDETAILS|2023-01-30T07:02:17.0-05:00"
                    MODE:
                      type: string
                      example: T
                      description: T for Test mode 
            DATAAREA:
              type: object
              properties:
                COMPONENT_ID:
                  type: string
                  example: 10730076
                COMPONENT_DSC:
                  type: string
                  example: "[06] 1st Row LH 8WP Fabric w/heat - A2"
                PHASE_NME:
                  type: string
                  example: "1st Row DV"
                PROJECT_NBR:
                  type: string
                  example: 12359TE0022502
                TEST_ENGINEER_NME:
                  type: string
                  example: Last Name, First Name
                PHONE_NBR:
                  type: string
                  example: 0
                DVP_NBR:
                  type: string
                  example: 149825
                JCI_PLANT_NME:
                  type: string
                  example: Adient - Plymouth
                OEM:
                  type: string
                  example: Honda
                PROGRAM_NME:
                  type: string
                  example: 2023 Honda T90A Seat
                VALIDATION_COMPONENT_TYP:
                  type: string
                  example: SP
                FX_TYPE:
                  type: string
                  example: NA
                FX_CHECK_IN_STATUS:
                  type: string
                  example: NA
                FX_CURRENT_LOC:
                  type: string
                  example: NA
                WOC:
                  type: array
                  items:
                    type: object
                    properties:
                      WORK_ORDER_ID:
                        type: string
                        example: 10301325
                      TEST_CLASS_NME:
                        type: string
                        example: Material Properties
                      TEST_SUBCLASS_NME:
                        type: string
                        example: Properties
    ErrorInternal:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: 500
        message:
          type: string
          example: Error at target end     